<div class="position-relative vh-100 overflow-hidden">
  <%= image_tag 'josh-nuttall-zkVi57UYHIQ-unsplash.jpg', class: 'w-100 h-100 position-absolute top-0 start-0 object-fit-cover' %>
  <div class="position-absolute top-50 start-50 translate-middle text-center">
    <h1 class="text-white display-1">Bike With Amazing</h1>
  </div>
</div>
